html, body, .root{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* https://coolors.co/0892a5-ffba49-0ca4a5-dbb68f-bb7e5d */
.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0CA4A5;
}

.logo{
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

#links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#links a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 1.3rem;
}
