@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500|Rubik:300,400,500,700&display=swap');

html, body, .root{
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300; /* light */
    
}
/* https://coolors.co/0892a5-ffba49-0ca4a5-dbb68f-bb7e5d */
.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

h1, h2{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

strong{
    font-weight: 500;
}

header{
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header svg{
    box-sizing: border-box;
    width: 7em;
    height: 7em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: 1em;
}

#right-eyebrow, #left-eyebrow{
    animation: lift-eyebrows 1.5s infinite;
}

@keyframes lift-eyebrows{
    0%{
        transform: rotateX(0deg);
    }
    12.5%{
        transform: rotateX(20deg);
    }
    25%{
        transform: rotateX(0deg);
    }
    37.5%{
        transform: rotateX(25deg);
    }
    50%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

#mustache, 
#dimple, 
[id*="noose"], 
[id*="mouth"]{
    animation: shake-mouth 1.5s infinite;
}

@keyframes shake-mouth{
    0%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-0.8deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

header h1{
    font-family: 'Rubik', sans-serif;
    font-size: 1.953em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
}

header h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.563em;
    font-weight: 100; /* thin */
    text-align: center;
}

section{
    width: 100%;
}

section h3{
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    font-weight: 500; /* medium */
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.projects{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2em;
}

.project-card{
    border-radius: 25px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}

.project-image{
    width: 100%;
    border-radius: 25px 25px 0 0 ;
}

.project-card h4{
    font-family: 'Roboto', sans-serif;
    font-size: 1.563em;
    font-weight: bold;
    margin: 0.5em 0.5em 1em 0.5em;
}

.project-card a{
    color: #000000;
}

.project-card p{
    margin: 0.5em 0.5em 1em 0.7em;
}

.project-description{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300; /* light */
}

.project-language{
    font-family: 'Roboto', sans-serif;
    font-weight: 100; /* thin */
}

.project-repo{
    display: flex;
    align-items: center;
}

.project-repo img{
    height: 1rem;
    margin-right: 0.5rem;
}

@media (min-width: 600px){
    header{
        justify-content: flex-start;
        padding-top: 3em;
    }
    header h1, header h2{
        text-align: left;
    }
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px){
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }
}