@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500|Rubik:300,400,500,700&display=swap');

*{
    outline: none;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    --bg: #f9f9f9;
    --bg-lighter: #ffffff;
    --border-color: rgba(0, 0, 0, 0.25);
    --color-text: #000000;

    height: 100%;
    margin: 0;
    padding: 0;
}

#root{
    min-height: 100%; 
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300; /* light */
}

a{
    text-decoration: none;
}

strong{
    font-weight: 500;
}